<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comments</title>
  </head>
  <body>
    <h1>Comentários:</h1>
    <h2>Comentário 1</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quibusdam
      quasi blanditiis doloribus aperiam eveniet vel eius, iure ducimus
      temporibus eaque? Quibusdam beatae dolorem pariatur totam officiis ducimus
      ipsum quis?
    </p>
    <br /><br />
    <h2>Comentário 2</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quibusdam
      quasi blanditiis doloribus aperiam eveniet vel eius, iure ducimus
      temporibus eaque? Quibusdam beatae dolorem pariatur totam officiis ducimus
      ipsum quis?
    </p>
    <br /><br />
    <h2>Comentário 3</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quibusdam
      quasi blanditiis doloribus aperiam eveniet vel eius, iure ducimus
      temporibus eaque? Quibusdam beatae dolorem pariatur totam officiis ducimus
      ipsum quis?
    </p>
    <br /><br />
  </body>
</html>
